.me, .xp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.me img {
    margin: 1rem 0rem;
    border-radius: 10rem;
    width: 30%;
}

.me p {
    margin: 0px 5px 10px 5px;
    text-align: center;
    font-size: var(--font-size-12);
}

h1, h2, h3 {
    color: var(--color-white-hover);
    margin: 0;
}

h2 {
    margin-top: 20px;
}

h3 {
    font-weight: var(--font-weight-400);
}

.carte {
    display: flex;
    align-items: center;
}

.carte img{
    max-height: 5rem;
    margin: 10px 20px;
}

.carte p {
    font-size: var(--font-size-8);
    margin: auto;
}

.buttons {
    display: flex;
    gap: 20px;
}

.a_button {
    text-decoration: none;
    background-color: var(--color-white-hover);
    color: var(--color-black);
    border-radius: 20px;
    padding: 5px;
    transition: transform 0.3s ease;
}

.a_button:hover {
    transform: scale(1.05);
}

.a_button_projet {
    font-size: var(--font-size-8);
    color: var(--color-white);
}

.xp .a_button {
    margin-top: 10px;
}