.me, .xp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.debut-presta {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.me img {
    margin: 1rem 0rem;
    border-radius: 10rem;
    width: 30%;
}

.me p {
    margin: 0px 5px 10px 5px;
    text-align: center;
    font-size: var(--font-size-12);
}

h1, h2, h3 {
    color: var(--color-white-hover);
    margin: 0;
}

h2 {
    margin-top: 40px;
}

h3 {
    font-weight: var(--font-weight-400);
}

.carte {
    display: flex;
    align-items: center;
}

.carte img{
    background-color: var(--color-white-hover);
    max-height: 5rem;
    margin: 10px 20px;
}

.carte p {
    font-size: var(--font-size-12);
    margin: auto;
}

.buttons {
    display: flex;
    gap: 20px;
}

.a_button_projet {
    font-size: var(--font-size-12);
    color: var(--color-white);
}

.xp .a_button {
    margin-top: 10px;
}

.presentation p {
    margin: 0px 0px 20px 20px;
    font-size: var(--font-size-12);
    border-left: 5px solid #ff6347;
    padding: 0px 15px;
}

.text-image img {
    width: auto;
    max-width: 90%;
    padding: 15px;
}

@media screen and (min-width: 1024px) {
    .me img {
        width: 20%;
    }

    .text-image {
        display: flex;
        flex-direction: column;
    }

    .text-image img {
        align-self: center;
        width: auto;
        max-width: 35%;
        padding: 15px;
    }

    .presentation p {
        margin-top: 2.5rem;
    }

    h2 {
        margin-top: 5rem;
    }
    
    .debut-presta {
        height: 90vh;
        justify-content: center;
    }
}
