h1 {
    text-align: center;
    margin: 20px;
    background-color: var(--color-black);
}

.text {
    margin-top: 50px;
}

.contact {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-14);
    color: var(--color-white-hover);
    transition: transform 0.3s ease;
}

.contact a {
    align-self: center;
    color: var(--color-white-hover);
}

.contact a:hover {
    transform: scale(1.05);
}

.qrcodes {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.qrcodes a {
    color: var(--color-white-hover);
}

.qrcodes img {
    max-width: 100px;
    max-height: 100px;
}