h1 {
    text-align: center;
    margin: 20px;
    padding: 10px 20px;
    background-color: var(--color-black);
}

.text {
    margin-top: 50px;
}

.contact {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-14);
    color: var(--color-white-hover);
    transition: transform 0.3s ease;
}

.contact a {
    align-self: center;
    color: var(--color-white-hover);
}

.contact a:hover {
    transform: scale(1.05);
}

.qrcodes {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.qrcodes a {
    color: var(--color-white-hover);
}

.qrcodes a:hover {
    color: var(--color-white);
}

.qrcodes img {
    max-width: 100px;
    max-height: 100px;
}

@media screen and (min-width: 1024px) {
    main {
        display: flex;
        flex-direction: column;
    }

    h1 {
        align-self: center;
    }
    
    .contact a {
        font-size: var(--font-size-12);
    }

    p {
        font-size: var(--font-size-12);
    }

    .qrcodes {
        margin-top: 5rem;
    }

    .qrcodes img {
        max-width: 10rem;
        max-height: 10rem;
    }

    p svg {
        padding: 10px;
    }
}