h1 {
    text-align: center;
    margin: 20px;
    background-color: var(--color-black);
}

.contact img {
    max-height: 1.5rem;
    max-width: 1.5rem;
    margin: 5px;
}

.contact {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-14);
    color: var(--color-white-hover);
    transition: transform 0.3s ease;
}

.contact a {
    align-self: center;
    color: var(--color-white-hover);
}

.contact a:hover {
    transform: scale(1.05);
}