:root{
font-family: "hack", sans-serif;

--font-size-4: 0.25rem;
--font-size-8: 0.5rem;
--font-size-12: 0.75rem;
--font-size-14: 0.875rem;
--font-size-16: 1rem;
--font-size-24: 1.5rem;
--font-size-32: 2rem;

--font-weight-400: 400;
--font-weight-700: 700;

--color-white: #999999;
--color-white-hover: #ffffff;
--color-black: #000000;
--color-primary: #E21022;
--color-cv-primary: #5e3d8d;
}

@media screen and (min-width: 1024px) {
    :root {
        --font-size-12: var(--font-size-24); 
        --font-size-16: var(--font-size-32);
    }

    main {
        margin: 2rem 5rem;
    }
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-color: #111111;
    background-image: url("../img/background-pattern.png");
    background-size: 100% 95%;
    background-repeat: repeat;
    background-position: right;
}

main {
    flex: 1;
    color: var(--color-white-hover);
}

header {
    background-color: var(--color-black);
    position: sticky;
    top: 0px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header img {
    width: 10rem;
}

.burger-icon span {
    display: block;
    width: 20px;
    height: 1px;
    background-color: var(--color-white);
    margin: 6px 0;
}

.navig {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    background-color: var(--color-black);
}

.navig a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--color-white);
    /* display: block; */
}

.navig a:hover {
    color: var(--color-white-hover);
}

.menu {
    display: block;
    cursor: pointer;
    top: 80px;
    right: 20rem;
}

header.menu-open .navig {
    display: flex;
    flex-direction: column;
    top: 60px;
    right: 0;
}

.burger-icon {
    display: block;
}

header.menu-open .burger-icon {
    display: none;
}

.close-menu {
    display: none;
    color: var(--color-white-hover);
}

header.menu-open .close-menu {
    display: block;
}

@media screen and (min-width: 1024px) {
    .menu {
        display: none;
    }

    .navig {
        width: auto;
        display: flex;
        position: static;
    }
}

.a_button {
    background-color: var(--color-white-hover);
    color: var(--color-black);
    border-radius: 20px;
    padding: 5px;
    transition: transform 0.3s ease;
}

.a_button:hover {
    transform: scale(1.05);
}

footer {
    margin-top: 20px;
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer nav {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.logo {
    text-decoration: none;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.2);
}

.logo img {
    max-height: 1.5rem;
}

footer p {
    text-align: center;
    font-size: var(--font-size-12);
    color: var(--color-white);
}

.mentions_legales {
    color: var(--color-white);
}
    
@media screen and (min-width: 1024px) {
    footer {
        padding: 10px 0px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    footer p {
        font-size: var(--font-size-14);
    }

    footer nav {
        margin: 0;  
    }

    .logo img {
        max-height: 2.5rem;
    }

    .a_button {
        padding: 10px 15px;
    }
}
