h1 {
    text-align: center;
    margin: 20px;
    padding: 10px 20px;
    background-color: var(--color-black);
}

.carte {
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--color-white-hover);
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

.carte img {
    margin: 30px;
    max-width: 100%;
    text-align: center;
}

.text h2 {
    margin: 0;
    text-align: center;
}

.text p {
    margin: 10px;
}

.carte p {
    margin-bottom: 0px;
    margin-left: 10px;
}

.carte a {
    max-width: 30px;
    max-height: 30px;
    background-color: var(--color-white-hover);
    color: var(--color-black);
    border-radius: 20px;
    padding: 5px;
    margin: 5px 0px;
    text-align: center;
    align-self: center;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 50px var(--color-black);
}

.carte a:hover {
    transform: scale(1.05);
}

.scroll-container {
    display: none;
}

.controle-html-css {
    display: block;
}

.carte a img {
    height: 25px;
    max-width: 100% !important;
}


@media screen and (min-width: 1024px) {
    main {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .carte {
        padding: 20px;
        flex-direction: row;
        justify-content: space-around;
    }

    .carte + .carte {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .logo-portfolio {
        max-width: 20% !important;
    }

    .carrousel-interview {
        max-width: 100% !important;
    }

    .maquette {
        max-width: 200% !important;
        margin: 0px 10px 0px 0px !important; 
    }

    .container {
        width: 50%;
        justify-content: center;
    }

    .carte img {
        max-width: 50%;
        align-self: center;
    }

    .controle-html-css {
        display: none;
    }

    .scroll-container {
        display: block;
        max-height: 300px;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .scroll-page {
        display: flex;
    }

    .carte a {
        display: flex;
        justify-content: center;
    }

    .carte a:hover {
        transform: scale(1.15);
    }
}