:root{
font-family: "hack", sans-serif;

--font-size-4: 0.25rem;
--font-size-8: 0.5rem;
--font-size-12: 0.75rem;
--font-size-14: 14px;
--font-size-16: 1rem;

--font-weight-400: 400;
--font-weight-700: 700;

--color-white: #999999;
--color-white-hover: #ffffff;
--color-black: #000000;
--color-primary: #E21022;
--color-cv-primary: #5e3d8d;
}

html, body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #111111;
    background-image: url("../img/background-pattern.png");
    background-size: 100% 95%;
    background-repeat: repeat;
    background-position: right;
}

main {
    flex: 1;
    color: var(--color-white-hover);
}

.navig{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
}

.navig img{
    width: 10rem;
    padding: 0.5rem;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: var(--color-black);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--color-white);
    display: block;
}

.sidenav a:hover {
    color: var(--color-white-hover);
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 4rem;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.sidenav.active {
    right: 0;
}

.burger-icon span {
    display: block;
    width: 20px;
    height: 1px;
    background-color: var(--color-white);
    margin: 6px 0;
}

footer {
    margin-top: 20px;
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer nav {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.logo {
    text-decoration: none;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.2);
}

.logo img {
    max-height: 1.5rem;
}

footer p {
    text-align: center;
    font-size: var(--font-size-12);
    color: var(--color-white);
}

.mentions_legales {
    color: var(--color-white);
}