h1 {
    text-align: center;
    margin: 20px;
    padding: 10px 20px;
    background-color: var(--color-black);
}

.box {
    margin: 20px;
    background-color: #121212;
    border-radius: 1rem;
    overflow: hidden;
}

@media screen and (min-width: 1024px) {
    main {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .box  {
        width: 75%;
    }
}

.header_box {
    background-color: #333;
    padding: 5px;
}

.inside_box {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 0px 0px 16px 16px;
    border-top: none;
}

h2 {
    margin: 0px 0px 10px 0px;
    text-align: center;
}

main ul {
    padding: 0;
}

main li {
    list-style: none;
    width: 100%;
    background: var(--color-white);
    border-radius: 4px;
    margin-bottom: 10px;
}

main li:hover {
    background: var(--color-white-hover);
}

li div {
    padding: 8px 10px 8px 0px;
    border-radius: 4px;
    transition: width 0.3s ease-in-out;
}

li div span {
    margin-left: 10px;
    color: var(--color-black);
}

/* --------------- */
/*   Compétences   */
/* --------------- */

/* --------------- */
/*   Compétences   */
/*       DEV       */
/* --------------- */

#python, #html, #css, #js, #php, #sql, #linux, #react, #tailwind {
    background-color: #0e6b0e;
    animation: 1.5s ease forwards;
    width: 0%;
}

#python:hover, #html:hover, #css:hover, #js:hover, #php:hover, #sql:hover, #linux:hover, #react:hover, #tailwind:hover {
    background-color: #149414;
}

#python {
    animation-name: PYTHON;
}

#html {
    animation-name: HTML;
}

#css {
    animation-name: CSS;
}

#js {
    animation-name: JS;
}

#php {
    animation-name: PHP;
}

#sql {
    animation-name: SQL;
}

#linux {
    animation-name: LINUX;
}

#react {
    animation-name: REACT;
}

#tailwind {
    animation-name: TAILWIND;
}

@keyframes PYTHON {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes HTML {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes CSS {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes JS {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}

@keyframes PHP {
    0% {
        width: 0%;
    }
    100% {
        width: 10%;
    }
}

@keyframes SQL {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}

@keyframes LINUX {
    0% {
        width: 0%;
    }
    100% {
        width: 5%;
    }
}

@keyframes REACT {
    0% {
        width: 0%;
    }
    100% {
        width: 10%;
    }
}

@keyframes TAILWIND {
    0% {
        width: 0%;
    }
    100% {
        width: 10%;
    }
}

/* --------------- */
/*   Compétences   */
/*     AUTRES      */
/* --------------- */

#canva, #photoshop, #illustrator, #indesign, #wordpress, #github, #figma {
    background-color: #0e6b0e;
    animation: 1.5s ease forwards;
    width: 0%;
}

#canva:hover, #photoshop:hover, #illustrator:hover, #indesign:hover, #wordpress:hover, #github:hover, #figma:hover {
    background-color: #149414;
}

#canva {
    animation-name: CANVA;
}

#photoshop {
    animation-name: PHOTOSHOP;
}

#illustrator {
    animation-name: ILLUSTRATOR;
}

#indesign {
    animation-name: INDESIGN;
}

#wordpress {
    animation-name: WORDPRESS;
}

#github {
    animation-name: GITHUB;
}

#figma {
    animation-name: FIGMA;
}

@keyframes CANVA {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes PHOTOSHOP {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@keyframes ILLUSTRATOR {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@keyframes INDESIGN {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@keyframes WORDPRESS {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes GITHUB {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes FIGMA {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}