main {
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
    background-color: var(--color-black);
    max-width: 12.5rem;
}

h2 {
    padding-left: 10px;
    margin: 40px 0px 10px 0px;
    text-align: left;
    font-size: var(--font-size-16);
}

.link_portfolio {
    color: var(--color-white);
    font-size: var(--font-size-8);
}

.infos {
    list-style-type: none;
    margin: 0px;
    font-size: var(--font-size-12);
    padding-left: 2rem;
}

.infos li::before{
    content: "- ";
}

main p {
    font-size: var(--font-size-12);
    margin: 0px;
    padding-left: 2rem;
}

p a {
    color: var(--color-white-hover);
}

@media screen and (min-width: 1024px) {
    .link_portfolio {
        font-size: var(--font-size-12);
    }
    
}